@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* html,
body {
  @apply bg-gray-50 dark:bg-gray-900;
} */

@viewport {
  viewport-fit: cover;
}

@media screen and (display-mode: standalone) {
  header {
    height: 88px !important;
  }

  main {
    padding-top: 88px !important;
  }
}
